<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="main.css" rel="stylesheet">
</head>
<body class="titlefon">
    <div class="title">
        <h1>Мегапарсер</h1>
        <h2>Это главная страница</h2>
        <h3>Информация о системе</h3>
        <p>Этот парсер умеет получать информацию с HH РУ <br> и что то с ней делать</p>
        <p>Можно задать параметры поиска</p>
        <a href="form.html">Начать поиск</a>
    </div>
</body>
</html>