.proverb {
    color: blue;
    background-color: #FA8072;
}
.title {
    color: brown;

}
.titlefon {
    background-image: url("https://img.badfon.ru/wallpaper/big/b/b3/polyana-derevo-nebo-oblaka-ten.jpg");
}
